/* Font: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #292929;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(20, 20, 20); */
}

header {
    width: 84.5%;
    margin: 30px auto;
    font-weight: 400;
    font-size: 1.3em;
    /* border: 1px solid red; */
}

@keyframes slide-down {
    0% {
        top: -60%;
    }
    100% {
        top: 25%;
    }
}

.start-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    left: 33%;
    z-index: 12;
    width: 30%;
    height: 250px;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    animation: slide-down 1s;
}

/* .start-game .header {
    border: 1px solid red; 
} */

.start-game h1 {
    font-size: 2em;
    text-align: center;
}

.start-game p {
    text-align: center;
}

.start-game p.cocok{
    margin-top: 20px;
}

.start-game .start {
    width: 100%;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: white;
    background-color: #292929;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.start-game .start:hover {
    background-color: rgb(196, 196, 196);
    color: black;
    transition: .1s ease-in-out;
}

.black {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .85;
    position: absolute;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: opacity-black 1s;
}

.black button.start {
    position: relative;

    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    background-color: white;
    cursor: pointer;
}

.random-fx {
    opacity: .3;
}

@keyframes slide-down-win {
    0% {
        top: -60%;
    }

    100% {
        top: 27%;
    }
}

@keyframes opacity-black {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .85;
    }
}

.win {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 27%;
    left: 37%;
    padding: 30px 40px;
    width: 20%;
    border-radius: 20px;
    z-index: 10;
    background-color: rgb(20, 20, 20);
    color: white;
    /* border: 1px solid red; */

    animation: slide-down-win 1s;
}

.win h1 {
    font-size: 2.5em;
}

.win h5 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1em;
}

.win p {
    margin-top: 10px;
    font-size: 2.5em;
}

.win .new-game {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.hidden {
    display: none;
}

main {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 140px);
    gap: 20px;
    margin: 20px 0;
    /* border: 1px solid red; */
}

.cards .card {
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #292929;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    perspective: 1000px;
    /* border: 1px solid red; */
}

.rotate180 {
    transform: rotateY(180deg);
}

@keyframes animate-true {
    0% {
        border: 2px solid white;
        border-radius: 10px;
    }

    25% {
        border: 2px solid rgb(73, 255, 73);
        border-radius: 10px;
        /* background-color: green; */
    }

    50% {
        border: 2px solid white;
        border-radius: 10px;
    }

    100% {
        border: 2px solid rgb(73, 255, 73);
        border-radius: 10px;
        /* background-color: green; */
    }
}

.animate-true {
    border: 2px solid white;
    border-radius: 10px;
    animation: animate-true 1s;
}

@keyframes animate-false {
    0% {
        border: 2px solid white;
        border-radius: 10px;
    }

    25% {
        border: 2px solid rgb(255, 98, 98);
        border-radius: 10px;
    }

    50% {
        border: 2px solid white;
        border-radius: 10px;
    }

    100% {
        border: 2px solid rgb(255, 98, 98);
        border-radius: 10px;
    }
}

.animate-false {
    border: 2px solid white;
    border-radius: 10px;
    animation: animate-false 1s;
}

.flip-card-inner {
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* border: 1px solid red; */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

@keyframes opacity-card {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .4;
    }
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .4;
    animation: opacity-card 1s;
}

.flip-card-back {
    font-size: 1.1em;
    color: black;
    width: 95px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    transform: rotateY(180deg);
}

.retry-mobile {
    margin-top: 40px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    padding: 10px 20px;
    color: #292929;
    font-weight: 500;
    text-align: center;
    display: none;
}


/* Responsice Mobile L - 375px */

@media (min-width: 375px) and (max-width: 500px) {

    header {
        width: 100%;
    }
  
    .start-game {
        width: 80%;
        height: 320px;
        left: 11%;
    }

    .start-game h1 {
        font-size: 1.9em;
    }

    .start-game p {
        font-size: 14px;
    }

    .cards {
        margin-top: 120px;
        /* border: 1px solid red; */
    }

    .flip-card {
        /* border: 1px solid red; */
        height: 70%;
    }

    .flip-card-inner {
        /* border: 1px solid red; */
        width: 300%;
    }

    .flip-card-back {
        height: 100%;
        width: 100%;
        /* border: 1px solid red; */
    }

    .cards img {
        width: 70px;
    }

    .win {
        width: 60%;
        left: 10%;
    }

    .retry-mobile {
        display: block;
    }

    .retry-mobile:hover {
        background-color: #292929;
        color: white;
    }
    
}